<h1>Assignments</h1>

<%= form_tag :import_assignment_post, multipart: true do |f| %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload assignment file" %>
<% end %>  
<br><br>
<% if(Student.find(session[:student_id]).admin == true) %>
  <%= form_tag assignments_path, method: 'get' do %>
    <%= select_tag(:student_id, options_from_collection_for_select(@students, "id", "name")) %>
    <%= submit_tag "View user's assignments" %>
  <% end %>
<% end %>

<table>
  <tr>
    <% if(Student.find(session[:student_id]).admin == true) %>
      <th>Student Name</th>
    <% end %>
    <th>Assignment Name</th>
    <th>Score</th>
    <th>Total</th>
    <th>Percentage</th>
  </tr>
 
  <% @assignments.each do |assignment| %>
    <tr>
      <tr>
      <% if(Student.find(session[:student_id]).admin == true) %>
        <td><%= Student.find(assignment.student_id).name %></td>
      <% end %>
      <td><%= assignment.name %></td>
      <td><%= assignment.score %></td>
      <td><%= assignment.total %></td>
      <td><%= number_with_precision(assignment.score.fdiv(assignment.total) * 100.0, precision: 2) %>%</td>
    </tr>
  <% end %>
  
  <% if(Student.find(session[:student_id]).admin == false) %>
    <% if(@assignments.empty?) %>
      <p><%= get_current_student().name %> has no assignments.</p>
    <% else %>
      <p><%= get_current_student().name %>'s percentage in the class is <%= number_with_precision(@assignments.average_percentage(), precision: 2) %>% </p>
    <% end %>  
  <% end %>
</table>