<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Attending', 'Number of attendance'],
          ['Attending', <%= Student.all.size - Student.absent().size %>],
          ['Absent', <%= Student.absent.size %>]
        ]);

        var options = {
          title: 'Student Attendance',
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>

<h1>Students</h1>

<% if session[:student_id] %>
  Hello <%= Student.find(session[:student_id]).name %> 
  &nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to 'Edit profile', edit_student_path(Student.find(session[:student_id])) %>
  <%= link_to "I'm here!", create_attendance_path %>
  <%= link_to 'Logout', logout_session_path %>
<% else %>
  <%= link_to 'Login', signin_session_path %>
  <%= link_to 'Sign up', new_student_path %>
<% end %> 
<br><br>
<%= link_to 'View all Attendances', attendances_path %>
<br><br>

<%= form_tag(students_path , method: :get) do %>
  <%= date_field_tag(:selected_date, @attended_on_date) %>
  <%= submit_tag("View Date's Attendances") %>
<% end %>
    
<div id="piechart" style="width: 900px; height: 500px;"></div>

<br><br>
<h3>Seat 1</h3>

<% Student.in_seat(1).each do |student| %>
    <table>
    <tr>
      <td><%= student.nickname %></td>
      <td><img src=<%= image_url(student) %> /></td>
    </tr>
    </table>
    <br>
  <% end %>
<h3>Seat 2</h3>
<% Student.in_seat(2).each do |student| %>
    <table>
    <tr>
      <td><%= student.nickname %></td>
      <td><img src=<%= image_url(student) %> /></td>
    </tr>
    </table>
  ` <br>
  <% end %>
<h3>Seat 3</h3>
<% Student.in_seat(3).each do |student| %>
    <table>
    <tr>
      <td><%= student.nickname %></td>
      <td><img src=<%= image_url(student) %> /></td>
    </tr>
    </table>
    <br>
  <% end %>
<h3>Seat 4</h3>
<% Student.in_seat(4).each do |student| %>
  <table>
    <tr>
      <td><%= student.nickname %></td>
      <td><img src=<%= image_url(student) %> /></td>
    </tr>
    </table>
`   <br>
  <% end %>
  <table>
<h3>Absent Students</h3>
  <tr>
    <td>Name</td>
    <td>Nickname</td>
    <td>Email</td>
    <td>Image</td>
  </tr>
  <br>
  <% Student.absent().each do |student| %>
    <tr>
      <td><%= student.name %></td>
      <td><%= student.nickname %></td>
      <td><%= student.email %></td>
      <td><img src=<%= image_url(student) %> /></td>
    </tr>
    <br>
  <% end %>
</table>
    
  </body>
</html>
