<h1>Students</h1>

<% if session[:student_id] %>
  Hello <%= Student.find(session[:student_id]).name %> 
  &nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to 'Edit profile', edit_student_path(Student.find(session[:student_id])) %>
  <%= link_to "I'm here!", create_attendance_path %>
  <%= link_to 'Logout', logout_session_path %>
<% else %>
  <%= link_to 'Login', signin_session_path %>
  <%= link_to 'Sign up', new_student_path %>
<% end %> 

<br><br>
<h3>Seat 1</h3>
<% Student.in_seat(1).each do |student| %>
    <tr>
      <td><%= student.nickname %></td>
      <td><img src=<%= image_url(student) %> /></td>
    </tr>
  <% end %>
<h3>Seat 2</h3>
<% Student.in_seat(2).each do |student| %>
    <tr>
      <td><%= student.nickname %></td>
      <td><img src=<%= image_url(student) %> /></td>
    </tr>
  <% end %>
<h3>Seat 3</h3>
<% Student.in_seat(3).each do |student| %>
    <tr>
      <td><%= student.nickname %></td>
      <td><img src=<%= image_url(student) %> /></td>
    </tr>
  <% end %>
<h3>Seat 4</h3>
<% Student.in_seat(4).each do |student| %>
    <tr>
      <td><%= student.nickname %></td>
      <td><img src=<%= image_url(student) %> /></td>
    </tr>
  <% end %>
 
<h3>Absent Students</h3>
  <% Student.absent.each do |student| %>
    <tr>
      <td><%= student.name %></td>
      <td><%= student.nickname %></td>
      <td><%= student.email %></td>
      <td><img src=<%= image_url(student) %> /></td>
    </tr>
  <% end %>

