<h1>Students</h1>

<% if session[:user_id] %>
Hello <%= link_to Student.find(session[:user_id]), edit_student_path(student) %>
  <%= link_to Logout, logout_session_path %>
<% else %>
  <%= link_to 'Login', signin_session_path %>
  <%= link_to 'Sign up', new_student_path %>
<% end %> 

<br><br>

<table>
  <tr>
    <th>Name</th>
    <th>Nickname</th>
    <th>Email</th>
    <th>Picture</th>
  </tr>
 
  <% @students.each do |student| %>
    <tr>
      <tr>
      <td><%= student.name %></td>
      <td><%= student.nickname %></td>
      <td><%= student.email %></td>
      <td><img src=<%= image_url(student) %> /></td>
      <td><%= link_to 'Edit Student Profile', edit_student_path(student) %></td>
    </tr>
  <% end %>
</table>
